@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #f9f9ff;
  font-family: "Poppins", serif;
}

/* reset bootrstrap style */
a {
  color: #fa8072 !important;
}
.btn {
  color: #ffffff !important;
}
.navbar-brand img {
  height: 40px;
}
.navbar ul li a {
  color: #373737 !important;
}
.bg-light {
  background-color: #ffffff !important;
}
.btn-primary {
  background-color: #fa8072 !important;
  border-color: #fa8072;
}
.btn-primary:hover {
  border-color: #fa8072;
}
.active {
  color: #fa8072 !important;
}
.bg-primary {
  background-color: #fa8072 !important;
}
.square-image {
  margin-right: 20px;
}
.square-image img {
  width: 100%; /* Ubah sesuai ukuran yang diinginkan */
  height: 160px; /* Sama dengan lebar untuk memastikan persegi */
  object-fit: cover; /* Memastikan gambar tidak terdistorsi */
  display: block; /* Opsional, menghapus jarak bawaan jika gambar adalah inline */
  border-radius: 0; /* Opsional, memastikan sudut tidak melengkung */
}
